h1 {
  color: var(--title-color);
}

.home-text-box {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home {
  background-image: url("../../assets/home-blur.png");
  background-position-x: right;
  background-position-y: top;
  background-size: 60%;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  width: 100%;
}
body.dark .home {
  background-image: none;
}
.home-box {
  width: 100%;
  height: fit-content;
  background-image: url("../../assets/hand.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 650px;
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
  /* flex-wrap: wrap; */
  z-index: 2;
}
.home-img-box {
  max-width: 600px;
  position: relative;
  min-height: 300px;
  width: 100%;
}
.home-text-box {
  height: fit-content;
}
.home-btn-box {
  display: flex;
  gap: 20px;
  align-items: center;
}
.card-head {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}
.container-animation .card {
  position: absolute;
  top: calc(50% - 200px);
  right: 10%;
  width: 200px;
  padding: 25px 0 0 0;
  cursor: grab;
  height: 300px;
  box-sizing: border-box;
  border-radius: 13.8px;
  backdrop-filter: blur(7px);
  background: var(--blur);
  box-shadow: 25px 25px 100px var(--inner-shadow);
  z-index: calc(-1 * var(--i));
  transition: 0.5s ease-in-out;
}
body.dark .container-animation .card {
  background: var(--primary-animation-card);
}
.container-animation .card h4 {
  font-size: 10px;
  color: var(--white-text);
}
.container-animation .card h6 {
  font-size: 8px;
  color: var(--white-text);
}
.content-btn-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.content-btn-box button {
  background: var(--white-border);
  color: var(--title-color);
  font-size: 10px;
  padding: 3px 6px;
  border-radius: 5px;
}
.container-animation .one {
  opacity: 1;
  animation: one 1s ease-in alternate infinite forwards 0.4s;
  transform: translateX(-50%) translateY(calc(60px * var(--i))) rotate(40deg)
    skew(-20deg, -10deg);
}
@keyframes one {
  from {
    transform: translateX(-50%) translateY(calc(60px * var(--i))) rotate(40deg)
      skew(-20deg, -10deg);
  }
  to {
    transform: translateX(-50%) translateY(calc(50px * var(--i))) rotate(40deg)
      skew(-20deg, -10deg);
    opacity: 0.8;
  }
}
.container-animation .card:nth-last-child(2) {
  opacity: 0.8;
  animation: two 1s ease-in alternate infinite forwards 0.6s;
  transform: translateX(-50%) translateY(calc(60px * var(--i))) rotate(40deg)
    skew(-20deg, -10deg);
}
@keyframes two {
  from {
    transform: translateX(-50%) translateY(calc(60px * var(--i))) rotate(40deg)
      skew(-20deg, -10deg);
  }
  to {
    transform: translateX(-50%) translateY(calc(50px * var(--i))) rotate(40deg)
      skew(-20deg, -10deg);
  }
}
.container-animation .card:nth-last-child(1) {
  opacity: 0.6;
  animation: three 1s ease-in alternate infinite forwards 0.4s;
  transform: translateX(-50%) translateY(calc(60px * var(--i))) rotate(40deg)
    skew(-20deg, -10deg);
}
@keyframes three {
  from {
    transform: translateX(-50%) translateY(calc(60px * var(--i))) rotate(40deg)
      skew(-20deg, -10deg);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(calc(50px * var(--i))) rotate(40deg)
      skew(-20deg, -10deg);
  }
}
/* // .container-animation:hover .card {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   z-index: 1;
//   opacity: 1;
//   transform: translateX(calc(-50% + calc(200px * var(--i)))) translateY(-50%)
//     rotate(0deg) skew(0deg, 0deg) scale(1);
// } */
.container-animation .card .content {
  color: #333;
  /* opacity: 0; */
  transition: 0.5s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.wrapper {
  border-radius: -1px;
  width: 100%;
  height: max-content;
  backdrop-filter: blur(7px);
  background: var(--primary-animation-card);
  padding: 25px;
  border-radius: 0 0 13.8px 13.8px;
}
.container-animation:hover .card .content {
  opacity: 1;
  transition-delay: calc(0.3s * var(--j));
}

/* @media (max-width: 991px) {
  body::before {
    clip-path: circle(0px at center);
  }

  .container-animation {
    width: 100%;
    height: initial;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .container-animation:hover .card {
    position: relative;
    top: initial;
    left: initial;
    transform: initial;
    margin: 20px;
    opacity: 1 !important;
  }

  .container-animation:hover,
  .container-animation:hover .card {
    position: relative;
    top: initial;
    left: initial;
    transform: initial;
  }

  .container-animation .card .content {
    transform: initial;
    opacity: 1;
  }
} */
/* company */
.company-logos {
  text-align: center;
}
.swiper-wrapper {
  padding: 50px 0;
}
.our-numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--radial);
  border-radius: 20px;
  margin: 50px 0;
  box-shadow: var(--inner-shadow);
  border: 2px solid var(--white-border);
}
.our-number-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.our-numbers h2 {
  max-width: 430px;
}
.our-numbers span {
  color: var(--title-color);
}
.our-numbers h3 {
  color: var(--title-color);
  margin-bottom: 10px;
  font-size: 48px;
  font-style: normal;
  font-family: outfit;
  font-weight: 800;
  line-height: normal;
}
