.services-box {
}
.services-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services-info-left {
  max-width: 700px;
}
.services-box-top {
  text-align: center;
  margin-bottom: 40px;
}
.services-box-bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  gap: 20px;
}
.services-card {
  background: var(--card-bg);
  box-shadow: var(--inner-shadow);
  border: 2px solid var(--white-border);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.services-card-img-box {
  overflow: hidden;
  border-radius: 10px;
}
.services-card:hover {
  transform: translateY(-10px);
  box-shadow: none;
}
.services-card:hover .primary-btn {
  background: var(--primary-btn-active);
}
.services-card img {
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}
.services-card:hover img {
  transform: scale(1.1);
  filter: grayscale(100%);
}
.services-card-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services-card-box .primary-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.services-card-box {
}
.services-card h3 {
  color: var(--title-color);
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 45px */
}
.services-card h4 {
  color: var(--text-color);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.services-info h2 {
  max-width: 620px;
  margin-bottom: 20px;
}

.services-box-top p,
.category p {
  max-width: 800px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

.category h2 {
  text-align: center;
}
.category-box-bottom {
  position: relative;
}
.category-link button {
  display: flex;
  align-items: center;
  gap: 10px;
}
.category-link {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 110px;
  position: -webkit-sticky;
  align-self: flex-start;
}
.category-info-box p {
  text-align: left;
}
.category-box-bottom {
  position: relative;
  display: flex;
  gap: 60px;
  justify-content: center;
}
.category-info-box {
  max-width: 800px;
  width: 100%;
}
.category-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.category-info-box-bottom {
  background: var(--card-bg);
  box-shadow: var(--inner-shadow);
  border: 2px solid var(--white-border);
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.category-info-box-bottom:hover {
  transform: translateY(-10px);
  box-shadow: none;
}
.category-info-box-bottom-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 50px;
}
.category-box-bottom h3 {
  color: var(--title-color);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 42px */
}
.category-box-bottom h4 {
  color: var(--title-color);
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}
.category-info-box-bottom-card:nth-child(1) {
  border-right: 1px solid var(--white-border);
  border-bottom: 1px solid var(--white-border);
  padding-right: 50px;
  padding-bottom: 30px;
}
.category-info-box-bottom-card:nth-child(2) {
  border-bottom: 1px solid var(--white-border);
  border-left: 1px solid var(--white-border);
  padding-left: 50px;
  padding-bottom: 30px;
}
.category-info-box-bottom-card:nth-child(3) {
  border-right: 1px solid var(--white-border);
  padding-right: 50px;
  padding-top: 30px;
}
.category-info-box-bottom-card:nth-child(4) {
  border-left: 1px solid var(--white-border);
  padding-left: 50px;
  padding-top: 30px;
}
.category-info-box-bottom-card p {
  max-width: 300px;
  margin: 20px 0;
}
table {
  width: 100%;
  border-radius: 20px;
  margin-top: 50px;
  color: var(--title-color);
}
table,
th,
tr,
td {
  border: 1px solid var(--white-border);
  padding: 24px 30px;
  border-collapse: collapse;
  text-align: center;
}
.category-box-bottom button {
  border: 1px solid var(--white-border);
  padding: 24px;
}
.category-box-bottom .light-btn {
  background: var(--card-bg);
  color: var(--title-color);
}
.category-info-box-top p {
  text-align: left;
}
