@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  /* box-shadow: var(--inner-shadow); */
}

html,
body,
.root {
  scroll-behavior: smooth;
  /* transition: 0.3s ease-in-out; */
}
@font-face {
  font-family: "Syne-Bold";
  src: url("./font/Syne-Bold.ttf");
}
@font-face {
  font-family: "Tesla";
  src: url("./font/TESLA.ttf");
}
.tesla {
  font-family: "Tesla";
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 500;
  background: var(--testla);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne-Bold", sans-serif;
  font-weight: 600;
}

:root {
  --fon-rangi-one: linear-gradient(
    177deg,
    rgba(255, 255, 255, 0.128) -45.5%,
    rgba(59, 108, 236, 0.16) 47.54%
  );

  --nav-bg: #fff;
  --primary-animation-card: linear-gradient(
    90deg,
    #3428e0b9 0%,
    #3b6decc2 100%
  );
  --section-padding: 80px 0;
  --btn-shadow: 4px 4px 17.4px 0px rgba(255, 255, 255, 0.28) inset;
  --radial: radial-gradient(
    271.97% 153.56% at 0% 2.78%,
    rgb(234, 233, 255) 0%,
    rgba(255, 255, 255, 0.198) 100%
  );
  --title-color: #060e29;
  --text-color: #4c4c4d;
  --testla: linear-gradient(90deg, #3428e0 0%, #3b6cec 100%);
  --primary-btn: linear-gradient(90deg, #3428e0 0%, #3b6cec 100%);
  --primary-btn-hover: #060e29;
  --primary-btn-active: linear-gradient(
    86deg,
    #e151ff -65.93%,
    #3b6cec 119.91%
  );
  --card-bg: radial-gradient(
    277.32% 144.05% at 2.46% 13.21%,
    rgba(255, 255, 255, 0.371) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  --inner-shadow: inset #bdc8fd 0px 0px 60px -12px;
  --white-btn: #fff;
  --white-border: #fff;
  --icon-bg: linear-gradient(
    122deg,
    rgba(255, 255, 255, 0.3) 1.48%,
    rgba(21, 110, 198, 0.22) 35.42%
  );
  --white-text: #fff;
  --white-btn-text: #000;
  --dark-text: #000;
  --icon-color: #fff;
}
.dark {
  --nav-bg: #0f111b;
  --fon-rangi-one: #0f111b;
  --white-border: #c2c7ff44;
  --icon-color: #000;
  --white-btn: #fff;
  --white-btn-text: #000;
  --section-padding: 80px 0;
  --btn-shadow: 0px 2px 5px 0px rgba(16, 0, 51, 0.39),
    0px 8px 8px 0px rgba(16, 0, 51, 0.34),
    0px 19px 11px 0px rgba(16, 0, 51, 0.2),
    0px 34px 14px 0px rgba(16, 0, 51, 0.06),
    0px 53px 15px 0px rgba(16, 0, 51, 0.01),
    0px 0px 12px 0px rgba(255, 255, 255, 0.08) inset,
    0px -8px 32px 0px #1e0d49 inset;
  --radial: transparent;
  --title-color: #fff;
  --text-color: #e1e1e1;
  --primary-btn: radial-gradient(
      231.94% 231.94% at 50% 100%,
      #8a6cff 0%,
      rgba(53, 41, 128, 0) 25.24%
    ),
    linear-gradient(
      180deg,
      rgba(243, 238, 255, 0) 0%,
      rgba(243, 238, 255, 0.04) 100%
    ),
    rgba(147, 130, 255, 0.01);

  --primary-btn-hover: #fff;

  --testla: linear-gradient(
    93deg,
    rgba(113, 77, 255, 0.9) 29.69%,
    rgba(156, 131, 255, 0.9) 50.48%,
    rgb(255, 213, 0) 125.8%,
    rgb(135, 119, 255) 74.27%
  );
  --primary-btn-active: linear-gradient(
    86deg,
    #e151ff -65.93%,
    #3b6cec 119.91%
  );
  --card-bg: #0d0d2dbb;
  --primary-animation-card: rgba(140, 124, 255, 0.176);
  --inner-shadow: inset #4e4e4ebf 0px 0px 60px -12px;
  --white-bg: #fff;
  --icon-bg: linear-gradient(
    122deg,
    rgba(255, 255, 255, 0.3) 1.48%,
    rgba(21, 110, 198, 0.22) 35.42%
  );
  --white-text: #ffffffb3;
  --dark-text: #fff;
}
h2 {
  font-size: 46px;
  color: var(--title-color);
}

.primary-btn {
  border-radius: 10px;
  background: var(--primary-btn);
  color: var(--white-text);
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}
.primary-btn:hover {
  background: var(--primary-btn-active);
  color: var(--white-text);
}
.primary-btn:active {
  background: var(--primary-btn);
  color: var(--white-text);
}
body.dark .primary-btn:hover {
  color: var(--white-bg);
}
.light-btn {
  border-radius: 10px;
  background: var(--white-btn);
  color: var(--white-btn-text);
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  box-shadow: none !important;
  font-weight: 500;
  text-transform: capitalize;
}
.light-btn:hover {
  background: var(--primary-btn-active);
  color: var(--white-text);
}
body.dark .light-btn:hover {
  color: var(--white-bg);
}
p {
  font-size: 16px;
  color: var(--text-color);
}

main button {
  border-radius: 10px;
  box-shadow: var(--btn-shadow);
  padding: 14px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.main-box {
  /* border-radius: 33px; */
  /* background: var(--radial); */
  backdrop-filter: blur(20px);
  padding: 0px 15px;

  /* border: 4px solid #fff; */
}
main {
  background-image: url("./assets/gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  border-radius: 20px;
  background: var(--fon-rangi-one);
  padding: 0px 0px;
}

body.dark main {
  background-image: url("./assets/layerblur.svg");
  background-size: cover;
}
body.dark .container {
  box-shadow: none;
}

/* media */
/* navbar */

.menu,
.close {
  display: none;
}
@media screen and (max-width: 1200px) {
  .services h3,
  .services-card h3,
  our-number-box h3,
  .projects h3,
  .asked-card h3,
  .about-card h3,
  .category-box-bottom h3,
  .our-numbers h3,
  .portfolio-card h3 {
    font-size: calc(
      25px + (30 - 20) * (100vw - 320px) / (1200 - 320)
    ) !important;
  }
  .tesla {
    font-size: calc(
      30px + (60 - 30) * (100vw - 320px) / (1200 - 320)
    ) !important;
  }
  .founder-info h5,
  .asked-accordion h4,
  .contact-info-card h4 {
    font-size: calc(
      14px + (20 - 14) * (100vw - 320px) / (1200 - 320)
    ) !important;
  }
  p,
  .footer-box a,
  a,
  .input-boxes input,
  .input-boxes textarea {
    font-size: calc(
      12px + (16 - 12) * (100vw - 320px) / (1200 - 320)
    ) !important;
  }
  table,
  th,
  tr,
  td {
    font-size: calc(
      12px + (16 - 14) * (100vw - 320px) / (1200 - 320)
    ) !important;
  }
  .founder-info span,
  .commitment ul li,
  .contact-info-card span {
    font-size: calc(
      12px + (18 - 14) * (100vw - 320px) / (1200 - 320)
    ) !important;
  }
}
@media screen and (max-width: 992px) {
  .menu,
  .close {
    display: block;
    font-size: 25px;
    background: var(--primary-btn-hover);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .portfolio-box-bottom,
  .showcase .portfolio-box-bottom,
  .blogs .blogs-box-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
  }
  .showcase .portfolio-card {
    flex-direction: column;
  }
  .showcase .portfolio-card-info-box {
    max-width: 100%;
  }
  .portfolio-card-img-boxes {
    display: none;
  }
  .container-animation .card {
    width: 180px;
    height: 250px;
  }
  .home-box {
    background-size: 500px;
  }
  .wrapper {
    padding: 15px;
  }
  .services-info-left {
    text-align: center;
  }
  .services-info-left h2 {
    margin: 20px auto;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 400px;
    width: 100%;
    height: 100vh;
    background: var(--nav-bg);
    box-shadow: var(--inner-shadow);
    border: 2px solid var(--white-border);
    padding: 40px 0;
    display: block;
    z-index: 1000;
    transform: translateX(-500px);
    transition: 0.3s ease-in-out;
  }
  .open-nav {
    transform: translateX(0px);
  }
  body.dark nav a {
    color: var(#fff);
  }

  nav ul {
    flex-direction: column;
  }
  .close {
    position: absolute;
    right: 40px;
  }
  .home-img-box {
    order: 2;
    max-width: 100%;
  }
  .home-text-box {
    max-width: 100%;
    order: 1;
  }
  .home {
    background-size: 85%;
    background-position-y: bottom;
  }

  .container-animation .card {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .home-box {
    padding: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-text-box {
    text-align: center;
    /* backdrop-filter: blur(50px);
    padding: 20px;
    box-shadow: var(--inner-shadow);
    border-radius: 20px; */
  }
  .home-btn-box {
    justify-content: center;
  }

  .top-wrap {
    text-align: center;
  }
  .category-info-box-top p {
    text-align: center;
  }
  .our-numbers {
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    justify-content: center;
  }
  .our-number-boxes,
  .services-info,
  .asked-box-bottom-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .category-box-bottom {
    flex-wrap: wrap;
    justify-content: center;
  }
  .category-link {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
  }
  .category-link .light-btn,
  .category-link .primary-btn {
    flex-wrap: wrap;
  }
  .asked-box-bottom-quest-box {
    max-width: 100%;
  }
  .asked-card {
    width: 100%;
  }
  .services-box-bottom,
  .projects-box-bottom {
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .team-cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .about-card {
    padding: 30px;
    flex-wrap: wrap;
  }
  .testimonials-card-info {
    margin-bottom: 15px;
  }
  .testimonials-card-founder {
    flex-wrap: wrap;
    gap: 10px;
  }
  .asked-accordion h4 {
    font-size: 18px;
  }
  .asked-box-bottom {
    gap: 15px;
  }
  .asked-accordion {
    max-height: 90px;
  }
  .footer-links {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
  .footer-social-wrapper,
  .footer-privacy-wrapper {
    margin-bottom: 50px;
  }
  .footer-social-wrapper,
  .footer-social-box,
  .footer-privacy-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .services-box-top,
  .projects-box-top {
    margin-bottom: 20px;
  }
  .category-box-bottom h4,
  .category-box-bottom p {
    text-align: left;
  }
  .home {
    display: flex;
    align-items: start;
    justify-content: center;
  }
  .contact-box {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .contact-box .input-box label {
    text-align: left;
  }
  .contact-box p {
    margin: 20px 0 0 0;
  }
  .contect-box-form,
  .input-boxes,
  .contect-box-info {
    max-width: 100%;
    border-radius: 0;
  }

  .contact-box,
  .contact-info-card {
    box-shadow: var(--inner-shadow);
    border-radius: 10px;
  }
}
@media screen and (max-width: 768px) {
  .services-box-bottom,
  .projects-box-bottom,
  .portfolio-box-bottom,
  .showcase .portfolio-box-bottom,
  .blogs .blogs-box-bottom {
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
  .input-boxes {
    flex-wrap: wrap;
  }
  .portfolio-btn-box,
  .blogs-btn-box {
    gap: 10px;
  }
  .contact-info-card i {
    font-size: 30px;
  }
  .portfolio-card-img-box {
    width: 90px;
    height: 90px;
  }
  .container-animation .card {
    width: 180px;
    height: 250px;
  }
  .home-box {
    background-size: 450px;
  }
  .home {
    display: flex;
    align-items: start;
    justify-content: center;
  }
  .category-box-bottom h4,
  .category-box-bottom p {
    text-align: center;
  }
  .services-info-right {
    text-align: center;
  }
  .services-info-right img {
    width: 80%;
    margin: auto;
  }
  .category-box-bottom h3,
  .category-box-bottom h4 {
    text-align: center;
  }
  .category-info-box-bottom-cards {
    margin-top: 30px;
    text-align: center;
  }
  .about-box-bottom-wrapper,
  .contact-info-location {
    gap: 20px;
  }
  .services-card-box {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }
  .category-info-box-bottom-card:nth-child(1),
  .category-info-box-bottom-card:nth-child(2),
  .category-info-box-bottom-card:nth-child(3),
  .category-info-box-bottom-card:nth-child(4) {
    padding: 10px 20px 30px 20px;
    border-bottom: 1px solid var(--white-border);
  }

  .asked-accordion-head {
    /* border-bottom: 1px solid var(--white-border); */
    padding: 0 0 10px 0;
  }
  .asked-accordion {
    max-height: 80px;
  }

  .main-box {
    padding: 20px 10px;
  }
  .header-box {
    padding: 0px 10px;
  }
  .open-box {
    width: 40px;
    height: 40px;
  }
  .primary-btn,
  .light-btn {
    font-size: 16px;
    padding: 12px 14px;
  }
  .services-card img {
    min-height: 180px;
  }
  .input-boxes {
    gap: 20px;
  }
  .services-card,
  .projects-card,
  .portfolio-card,
  .blogs .blogs-card {
    gap: 10px;
  }
  .blog-btn-box {
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
  }
  .blog-btn-box button {
    width: 100%;
  }
  .blogs-card-img-boxes {
    border-radius: 10px;
  }
}
@media screen and (max-width: 576px) {
  .header {
    padding: 15px 0;
  }
  .contact-info-location {
    padding-top: 30px;
  }
  .input-boxes,
  .contect-box-form form {
    gap: 10px;
  }
  .footer-links {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .footer-links {
    gap: 20px;
  }
  .blogs-card img {
    max-height: 200px;
    border-radius: 10px;
  }
  .input-boxes input,
  .input-boxes textarea {
    padding: 15px 20px;
  }
  .container-animation .card {
    width: 160px;
    height: 220px;
    left: 150px;
  }
  .home {
    background-position-x: center;
    background-position-y: 185px;
    background-size: 140%;
  }
  .home-box {
    background-size: 0;
  }
  .about-card h3 {
    margin-bottom: 10px;
  }
  .about-box-bottom {
    padding: 0 0 20px 0;
  }
  .home {
    justify-content: start;
    align-items: start;
  }
  .number-box {
    display: none;
  }
  .team-cards {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  .category-link .light-btn {
    padding: 14px;
  }
  .category-link,
  .projects-card,
  .blogs .blogs-card,
  .commitment ul {
    gap: 10px;
  }
  .commitment ul {
    margin: 10px 0;
  }
  .testimonials-card-img-box img,
  .footer-social-box a {
    width: 40px;
    height: 40px;
  }
  .about-card-img-box {
    width: 60px;
    height: 60px;
  }
  table {
    margin-top: 20px;
  }
  table,
  th,
  tr,
  td {
    padding: 10px;
  }
  .category-info-box-bottom-card:nth-child(1),
  .category-info-box-bottom-card:nth-child(2),
  .category-info-box-bottom-card:nth-child(3),
  .category-info-box-bottom-card:nth-child(4) {
    padding: 10px 20px 30px 20px;
    border-bottom: 1px solid var(--white-border);
  }
  .portfolio-box-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  .category-info-wrapper {
    gap: 10px;
  }
  .testimonials {
    padding: 0px;
  }
  .asked-accordion {
    max-height: 70px;
  }
  .our-numbers {
    margin: 20px 0;
  }
  .testimonials-card-info {
    min-height: 180px;
    justify-content: center;
  }
  .services-card {
    gap: 10px;
  }
  .primary-btn,
  .light-btn {
    font-size: 14px;
    padding: 12px 14px;
  }
  .category-info-box-bottom-cards {
    margin-top: 10px;
  }
}
