@import url("https://fonts.googleapis.com/css2?family=Syne:wght@100..900&family=Outfit:wght@100..900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  /* box-shadow: var(--inner-shadow); */
}

html,
body,
.root {
  /* overflow-x: hidden;
  min-height: 100vh; */
  /* scroll-behavior: smooth; */
  /* transition: 0.3s ease-in-out;   */
}

@font-face {
  font-family: "Tesla";
  src: url("./font/TESLA.ttf");
}
.tesla {
  font-family: "Tesla";
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 500;
  background: var(--testla);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne";
  font-weight: 600;
}

:root {
  --fon-rangi-one: linear-gradient(
    177deg,
    rgba(255, 255, 255, 0.128) -45.5%,
    rgba(59, 108, 236, 0.16) 47.54%
  );
  --primary-animation-card: linear-gradient(
    90deg,
    #3428e0b9 0%,
    #3b6decc2 100%
  );
  --section-padding: 80px 0;
  --btn-shadow: 4px 4px 17.4px 0px rgba(255, 255, 255, 0.28) inset;
  --radial: radial-gradient(
    271.97% 153.56% at 0% 2.78%,
    rgb(234, 233, 255) 0%,
    rgba(255, 255, 255, 0.198) 100%
  );
  --title-color: #060e29;
  --text-color: #4c4c4d;
  --testla: linear-gradient(90deg, #3428e0 0%, #3b6cec 100%);
  --primary-btn: linear-gradient(90deg, #3428e0 0%, #3b6cec 100%);
  --primary-btn-hover: #060e29;
  --primary-btn-active: linear-gradient(
    86deg,
    #e151ff -65.93%,
    #3b6cec 119.91%
  );
  --card-bg: radial-gradient(
    277.32% 144.05% at 2.46% 13.21%,
    rgba(255, 255, 255, 0.371) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  --inner-shadow: inset #bdc8fd 0px 0px 60px -12px;
  --white-btn: #fff;
  --white-border: #fff;
  --icon-bg: linear-gradient(
    122deg,
    rgba(255, 255, 255, 0.3) 1.48%,
    rgba(21, 110, 198, 0.22) 35.42%
  );
  --white-text: #fff;
  --white-btn-text: #000;
  --dark-text: #000;
  --icon-color: #fff;
}
.dark {
  --fon-rangi-one: #0f111b;
  --white-border: #c2c7ff44;
  --icon-color: #000;
  --white-btn: #fff;
  --white-btn-text: #000;
  --section-padding: 80px 0;
  --btn-shadow: 0px 2px 5px 0px rgba(16, 0, 51, 0.39),
    0px 8px 8px 0px rgba(16, 0, 51, 0.34),
    0px 19px 11px 0px rgba(16, 0, 51, 0.2),
    0px 34px 14px 0px rgba(16, 0, 51, 0.06),
    0px 53px 15px 0px rgba(16, 0, 51, 0.01),
    0px 0px 12px 0px rgba(255, 255, 255, 0.08) inset,
    0px -8px 32px 0px #1e0d49 inset;
  --radial: transparent;
  --title-color: #fff;
  --text-color: #e1e1e1;
  --primary-btn: radial-gradient(
      231.94% 231.94% at 50% 100%,
      #8a6cff 0%,
      rgba(53, 41, 128, 0) 25.24%
    ),
    linear-gradient(
      180deg,
      rgba(243, 238, 255, 0) 0%,
      rgba(243, 238, 255, 0.04) 100%
    ),
    rgba(147, 130, 255, 0.01);

  --primary-btn-hover: #fff;

  --testla: linear-gradient(
    93deg,
    rgba(113, 77, 255, 0.9) 29.69%,
    rgba(156, 131, 255, 0.9) 50.48%,
    rgba(225, 81, 255, 0.9) 65.8%,
    rgba(255, 247, 89, 0.9) 74.27%
  );
  --primary-btn-active: linear-gradient(
    86deg,
    #e151ff -65.93%,
    #3b6cec 119.91%
  );
  --card-bg: #0d0d2dbb;
  --primary-animation-card: rgba(140, 124, 255, 0.176);
  --inner-shadow: inset #4e4e4ebf 0px 0px 60px -12px;
  --white-bg: #fff;
  --icon-bg: linear-gradient(
    122deg,
    rgba(255, 255, 255, 0.3) 1.48%,
    rgba(21, 110, 198, 0.22) 35.42%
  );
  --white-text: #ffffffb3;
  --dark-text: #fff;
}
h2 {
  font-size: 46px;
  color: var(--title-color);
}
.primary-btn {
  border-radius: 10px;
  background: var(--primary-btn);
  color: var(--white-text);
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}
.primary-btn:hover {
  background: var(--primary-btn-active);
  color: var(--white-text);
}
.primary-btn:active {
  background: var(--primary-btn);
  color: var(--white-text);
}
body.dark .primary-btn:hover {
  color: var(--white-bg);
}
.light-btn {
  border-radius: 10px;
  background: var(--white-btn);
  color: var(--white-btn-text);
  text-align: center;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  box-shadow: none !important;
  font-weight: 500;
  text-transform: capitalize;
}
.light-btn:hover {
  background: var(--primary-btn-active);
  color: var(--white-text);
}
body.dark .light-btn:hover {
  color: var(--white-bg);
}
p {
  font-size: 16px;
  color: var(--text-color);
}

main button {
  border-radius: 10px;
  box-shadow: var(--btn-shadow);
  padding: 14px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.main-box {
  /* border-radius: 33px; */
  /* background: var(--radial); */
  backdrop-filter: blur(20px);
  /* border: 4px solid #fff; */
}
main {
  background-image: url("./assets/gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  border-radius: 20px;
  background: var(--fon-rangi-one);
  padding: 0px 0px;
}

body.dark main {
  background-image: url("./assets/layerblur.svg");
  background-size: cover;
}
body.dark .container {
  box-shadow: none;
}
